<div class="row">
    <div class="col-12 headfoot ">
        <label for="nameTable" class="col-lg-2 col-md-4 col-12 ">
            <h1>Nombres</h1>
        </label>
        <div class="table-responsive">
            <table class="table table-sm table-hover table-bordered table-striped">
                <caption>Listado de nombres</caption>
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let usuario of objetoUsuario; let i=index' (click)='clickFila(i, usuario.nombre)'>
                        <th scope="row">{{i+1}}</th>
                        <td>{{usuario.nombre}}</td>
                    </tr>
                </tbody>

            </table>
        </div>

    </div>

</div>

<div class="row">
    <div class="col-12">
        <app-body-child [seleccionado]='valorEnviarDesdePapa'></app-body-child>
    </div>
</div>