<div class="row">
    <div class="col-12 headfoot ">
        <label for="nameTable" class="col-lg-2 col-md-4 col-12 ">
            <h1>Nombres</h1>
        </label>
        <div class="table-responsive">
            <table class="table table-sm table-hover table-bordered table-striped">
                <caption>Listado de nombres</caption>
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Mombre</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                    </tr>
                </tbody>

            </table>
        </div>

    </div>

</div>