<nav class="navbar navbar-toggleable-md navbar-light bg-light">
  
    <a class="navbar-brand" href="#">Enrique</a>

  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a routerLink="/ejerciciouno" routerLinkActive="active" class="nav-item nav-link" href="#">Ejercicio1</a>
      <a routerLink="/ejerciciodos" routerLinkActive="active" class="nav-item nav-link" href="#">Ejercicio2</a>
      <a routerLink="/ejerciciotres" routerLinkActive="active" class="nav-item nav-link" href="#">Ejercicio3</a>
      <a routerLink="/ejerciciocuatro" routerLinkActive="active" class="nav-item nav-link" href="#">Ejercicio4</a>
      <a class="nav-item nav-link disabled" href="#">Disabled</a>
    </div>
  </div>
</nav>