<header>
  <div class="row">
    <div class="col-12" style="border:1px solid red; padding-top: 15px;">
      <div class="form-group row justify-content-center">
        <label for="inputName" class="col-lg-2 col-md-4 col-12 align-self-center">Igrese su nombre </label>
        <div class="col-lg-4 col-md-4 col-12 align-self-center">
            <input id="enviar_valor" [(ngModel)]="valor" class="form-control form-control-sm" type="text" placeholder="">
        </div>  
        <div class="col-lg-2 col-md-8 col-12 align-self-center">
          <button class="btn btn-success btn-sm btn-block" type="submit" (click)='cargarNombre()'>Ingresar</button>
        </div>
      </div>
    </div>
  </div>
</header>