/* You can add global styles to this file, and also import other style files */
.hight-standar{
    min-height: calc(100vh - 20px);
    margin-top: 10px;
    }

 #contain{
    padding: 30px;

 }  
 
 .headfoot{
text-align: left;
margin-top: 20px;     
margin-bottom: 20px;
padding-left: 30%; 
padding-top: 1%;
padding-bottom: 1%;
 }

       
        